.homepage {
  padding: 0px;
  overflow: hidden;
  .homepage_row {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 1rem;
    &::-webkit-scrollbar-thumb {
      background: #9c1e1e;
      cursor: all-scroll;
    }
    &::-webkit-scrollbar {
      height: 4px;
    }
  }

  .homepage_row_title {
    color: white;
    font-size: 24px;
    padding-top: 1rem;
  }
}
